nav{
    overflow: hidden;
    text-align: left;
}

nav ul {
    list-style-type: none;
}
  
nav li {
    display:inline;
    line-height:1.5em;
}
  
nav .navlink {
    padding: 14px 16px;
    font-size: 1.25em;
    text-decoration: none;
}
  
nav .navlink:hover, .nav-icon:hover {
    cursor: pointer;
    opacity: .7;
}

.nav-icon{
    font-size:1.3em;
    float:right;
    padding: 0 1em;
}