nav{
    overflow: hidden;
    color: #333;
    text-align: left;
}

nav ul {
    list-style-type: none;
}
  
nav li {
    display:inline;
    line-height:1.5em;
}
  
nav .navlink {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.25em;
    text-decoration: none;
}
  
nav .navlink:hover, .nav-icon:hover {
    color: #a1922e;
    cursor: pointer;
}

.nav-icon{
    font-size:1.25em;
}