.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(96, 96, 96, 0.35) 0px -2px 6px 0px inset;
    padding: 2em 1em 2.5em;
    background-color: #f3efc3;
    height:100vh;
    position:relative;
    padding:2rem;
}

.test-area{
    /* opacity: .9; */
    font-size: 1.3em;
    /* text-align: center; */
    display:block;
    margin: 6em auto;
    width:80%;
}
.test-area h2{
    color:#766a23;
    font-size: 2em;
}
.test-area ul{
    border: 2px solid #a1922e;
    padding: 1em 3em;
}
.test-area li{
    padding:0.25em;
}

.user-input{
    background-color: white;
    border: 2px solid #a1922e;
    outline: none;
    width:90%;
    height: 45vh;
    margin: 1.5em 1em;
    resize: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
}

.container-a{
    display: flex;
	flex-direction: row;
	align-items: flex-end;
    height:45vh;
}

.user-input-display{
    outline: none;
    padding: 0 1rem;
    white-space: pre-wrap;
    margin: 0 1em;
    font-size: 16px;
}

.user-input-display:hover{
    cursor:default;
}

.user-input:focus {
    border-color: black;
}

.correct {
    color: #026b1b;
}

.incorrect {
    color: #b30206;
    text-decoration: underline;
}

.active-letter{
    background:black;
    color:#f3efc3;
}

.test-container{
    /* margin-top:2em; */
}

