body{
  margin:0;
  font-family: Verdana;
}
main {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  height:100vh;
}

.test{
  display: block;
  margin: 3em;
}

.container {
  background-color: #f0db4f;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

