body{margin:0;}
main {
  padding: 3em 2em;
  margin: 1vh 0;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  height:80vh;
  font-size: 1.1em;
}

.test{
  display: block;
  margin: 3em;
}

.container {
  background-color: #f0db4f;
  padding: 1.5rem;
  border-radius: 0.5rem;
  /* width: 700px; */
  /* max-width: 90%; */
}

