body{
  margin:0;
  font-family: Verdana;
}

main {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  height:100vh;
}

h2{
  /* color:#766a23; */
  font-size: 2em;
  text-align:center;
}

h3{
  text-align:center;
  font-size: 1.3em;
}

.right{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(96, 96, 96, 0.35) 0px -2px 6px 0px inset;
  padding: 2em 1em 2.5em;
  position:relative;
  padding:2rem;
  min-height:100vh;
}

.dark-text{
  color:#000;
}

